@media screen and (max-width:1005px) {
    .navbar {
        position: relative;
    }

    .menu {
        display: none;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .header {
        padding-top: 50px;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: center;
        color: aliceblue;
    }

    .img-headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .card {
        width: 100%;
    }

    .whats {
        display: none;
    }

}

input {
    width: 100%;
    /* Altera a largura da caixa */
    height: 40px;
    /* Altera a altura da caixa */
    padding: 10px;
    /* Adiciona espaço interno */
}

@media (min-width: 720px) {
    .vaga-card {
        /* duas colunas de cards a partir daqui */
        flex: 1 1 calc(50% - 0.5rem);
    }
}